In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [4]:
obj = Series([1,2,3,4])
# ,index=['a','b','c','d']
# obj [obj > 2]

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
'e' in obj

False

In [7]:
obj
ind = ['d','x']
Series(obj, index = ind)

d   NaN
x   NaN
dtype: float64

In [ ]:
pd.isnull(obj)

如果你元一这么高也可以

In [9]:
obj[-3:-2]

1    2
dtype: int64

In [10]:
data = DataFrame(np.arange(16).reshape(4,4),index = ['aa','bb','cc','dd'] , columns = ['one','two','three','four'])

In [11]:
data.drop('two',axis = 1)

    one  three  four
aa    0      2     3
bb    4      6     7
cc    8     10    11
dd   12     14    15

In [12]:
obj = Series([4,6,8,9], index = ['a','b','c','d'])
obj[obj<7]

a    4
b    6
dtype: int64

In [13]:
data = DataFrame(np.arange(16).reshape(4,4),index = ['aa','bb','cc','dd'] , columns = ['one','two','three','four'])

In [14]:
data.ix[0:3,["one",'two']]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [15]:
data.at('aa')

TypeError: '_AtIndexer' object is not callable

In [16]:
list('abs')

['a', 'b', 's']

In [17]:
format = lambda x : '%.2f' % x
data['one'].map(format)

aa     0.00
bb     4.00
cc     8.00
dd    12.00
Name: one, dtype: object

In [18]:
data.sort_index(by='one')

TypeError: sort_index() got an unexpected keyword argument 'by'

In [19]:
obj = Series([1,2,5,4,3])
obj.rank(ascending = False)

0    5.0
1    4.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [20]:
df  = DataFrame([[1.4,10],[5,2],[7.5,2]],index = ['a','b','c'], columns = ['one','two'])
print(df)
df.sum(skipna=False)

   one  two
a  1.4   10
b  5.0    2
c  7.5    2

one    13.9
two    14.0
dtype: float64

In [21]:
df.cumsum(axis=0)
df.pct_change().tail()

        one  two
a       NaN  NaN
b  2.571429 -0.8
c  0.500000  0.0

In [22]:
obj = Series([1,2,3,3,1,32,5,5,4,43,43,532])
pd.value_counts(obj,sort=False)
# obj.unique()

32     1
1      2
2      1
3      2
4      1
5      2
532    1
43     2
dtype: int64

In [23]:
uniques = obj.unique()
uniques.sort()
obj.value_counts(sort=False)

32     1
1      2
2      1
3      2
4      1
5      2
532    1
43     2
dtype: int64

In [24]:
obj.isin([2])

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool